html {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  text-align: center;
}

h1 {
  font-size: 1.8rem;
  color: white;
}

p {
  font-size: 1.4rem;
}

.topnav {
  overflow: hidden;
  background-color: #0A1128;
}

.child-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: #02305c;
  text-align: left;
}

body {
  margin: 0;
}

.content {
  padding: 1% 5% 5%;
}

.card-grid {
  width: 80%;
  margin: 1% auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: auto;
}

.control-grid {
  width: 80%;
  margin: 1% auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: 2fr 1fr;
}

.card {
  background-color: white;
  box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, .5);
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #034078
}

.chart-container {
  padding: 5px 3% 3%;
}

.control-container {
  padding: 5px 3% 3%;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5% 5%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 100%;
}

.button1 {
  background-color: #4CAF50;
  color: #000000;
  border-radius: 6px;
}

.button1:hover {
  background-color: #357c37;
  color: white;
}

.button2 {
  background-color: #d43c3c;
  color: #000000;
  border-radius: 6px;
}

.button2:hover {
  background-color: #9c3b3b;
  color: white;
}

.button3 {
  background-color: #cf8e00;
  color: #000000;
  border-radius: 6px;
}

.button3:hover {
  background-color: #a57100;
  color: white;
}

/*Tabelle*/
#properties {
  table-layout: fixed;
  font-size: 16px;
  border-collapse: collapse;
  width: 100%;
}

#properties td,
#properties th {
  border: 1px solid #ddd;
  padding: 8px;
}

#properties tr:nth-child(even) {
  background-color: #f2f2f2;
}

#properties tr:hover {
  background-color: #ddd;
}

#properties th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #44AAD5;
  color: white;
}

.button-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
      'button1 button2'
      'dblbutton dblbutton'
      'footer footer';
}

.button-item1 {
  grid-area: button1;
  margin: 0px 5px 3%;
  text-align: center;
}
.button-item2 {
  grid-area: button2;
  margin: 0px 5px 3%;
  text-align: center;
}

.button-double-item {
  grid-area: dblbutton;
  margin: 20px 5px 3%;
  text-align: center;
}
